---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
<div class="intro">

<a href="https://qrfy.io/r/hsg_9rq_HX" target="_blank"><button>Click For Prototype</button></a>
<a href="#container"><button> Meet our Team</button></a>

</div>
  <div class="container">
    <Card
      name="Dr Mahlet Alemayehu"
      position="Medical officer"
      aboutMe={`Hi there! I'm Mahlet, Medical officer at  Ethiopian National Blood Bank and a General practitioner at Efoyta health center`}
      linkedin="https://www.linkedin.com/in/#"
      github="https://github.com/alcarazbrian"
      cvLink="/files/resume-cv.pdf"
      profileImage="/images/mahyimage.jpg"
    />
    <Card
      name="Weynshet Worku"
      position="UI/UX Designer"
      aboutMe={`Hi there! I'm Weynshet,Accounting and Finance student at the School of Commerce, Addis Ababa University, and a Marketing Management graduate with a background in creative content creation, video editing, and storytelling. She works at Zemen Bank and Dagoo Inc., crafting engaging and interactive digital content for customers and clients.`}
      linkedin="https://www.linkedin.com/in/#"
      github="https://github.com/janedoe"
      cvLink="/files/resume-cv.pdf"
      profileImage="/images/Wini.jpg"
    />
	<Card
      name="Weynshet Worku"
      position="UI/UX Designer"
      aboutMe={`Hi there! I'm Weynshet,Accounting and Finance student at the School of Commerce, Addis Ababa University, and a Marketing Management graduate with a background in creative content creation, video editing, and storytelling. She works at Zemen Bank and Dagoo Inc., crafting engaging and interactive digital content for customers and clients.`}
      linkedin="https://www.linkedin.com/in/#"
      github="https://github.com/janedoe"
      cvLink="/files/resume-cv.pdf"
      profileImage="/images/Wini.jpg"
    />
	<Card
      name="Weynshet Worku"
      position="UI/UX Designer"
      aboutMe={`Hi there! I'm Weynshet,Accounting and Finance student at the School of Commerce, Addis Ababa University, and a Marketing Management graduate with a background in creative content creation, video editing, and storytelling. She works at Zemen Bank and Dagoo Inc., crafting engaging and interactive digital content for customers and clients.`}
      linkedin="https://www.linkedin.com/in/#"
      github="https://github.com/janedoe"
      cvLink="/files/resume-cv.pdf"
      profileImage="/images/Wini.jpg"
    />
	<Card
      name="Weynshet Worku"
      position="UI/UX Designer"
      aboutMe={`Hi there! I'm Weynshet,Accounting and Finance student at the School of Commerce, Addis Ababa University, and a Marketing Management graduate with a background in creative content creation, video editing, and storytelling. She works at Zemen Bank and Dagoo Inc., crafting engaging and interactive digital content for customers and clients.`}
      linkedin="https://www.linkedin.com/in/#"
      github="https://github.com/janedoe"
      cvLink="/files/resume-cv.pdf"
      profileImage="/images/Wini.jpg"
    />
	<Card
      name="Weynshet Worku"
      position="UI/UX Designer"
      aboutMe={`Hi there! I'm Weynshet,Accounting and Finance student at the School of Commerce, Addis Ababa University, and a Marketing Management graduate with a background in creative content creation, video editing, and storytelling. She works at Zemen Bank and Dagoo Inc., crafting engaging and interactive digital content for customers and clients.`}
      linkedin="https://www.linkedin.com/in/#"
      github="https://github.com/janedoe"
      cvLink="/files/resume-cv.pdf"
      profileImage="/images/Wini.jpg"
    />
    
  </div>
</BaseLayout>
<style>
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 152, 141);
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px;
  }

  .intro button {
    background-color: #ffffff;
    color: #10988d;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  .intro button:hover {
    background-color: #10988d;
    color: #ffffff;
  }
</style>