---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
<div class="intro">

<a href="https://www.figma.com/design/lAbuHFVQh0v8fmY8ElsvwX/First-Spin-Ui_Backup?node-id=0-1&t=1ee8HBfEhOZPSpOD-1" target="_blank"><button>Click For Prototype</button></a>
<a href="#container"><button> Meet our Team</button></a>

</div>
  <div class="container">
    <Card
      name="Dr Mahlet Alemayehu"
      position="Medical officer"
      aboutMe={`Hi there! I'm Mahlet, Medical officer at  Ethiopian National Blood Bank and a General practitioner at Efoyta health center`}
      linkedin="#"
      cvLink="/files/resume-cv.pdf"
      profileImage="/images/mahyimage.jpg"
    />
    <Card
      name="Weynshet Worku"
      position="UI/UX Designer"
      aboutMe={`Hi there! I'm Weynshet,Accounting and Finance student at the School of Commerce, Addis Ababa University, `}
      linkedin="https://www.linkedin.com/in/weynshet-worku-230853281/"
      profileImage="/images/Wini.jpg"
    />
	<Card
      name="Yohannes Shiferaw"
      position="Medical Doctor"
      aboutMe={`Hi there! I'm Yohannes,Medical Doctor | Data analysis expert | storyteller | Volunteer`}
      linkedin="https://www.linkedin.com/in/yohannes-shiferaw-a01951341/"
      profileImage="/images/jo.jpg"
    />
	<Card
      name="Tomas Ketema"
      position="Senior Software Developer"
      aboutMe={`Hi there! I'm Tomas,Software Developer | DevOps at Ethiojobs.net`}
      linkedin="https://www.linkedin.com/in/tomas-ketema/"
      profileImage="/images/Tomy.jpeg"
    />
    	<Card
      name="Fadil Mustefa"
      position="Fullstack developer"
      aboutMe={`Hi there! I'm Fadil,Electrical and computer engineer and full stack developer`}
      linkedin="https://www.linkedin.com/in/fadil-mustefa-8b2096331/"
      profileImage="/images/Fedil.jpg"
    />
	<Card
      name="Biruktawit Wubshet"
      position="Economist"
      aboutMe={`Hi there! I'm Biruktawit,Holder of a BSc degree in Biotechnology and a BA degree in Economics`}
      linkedin="#"
      profileImage="/images/Brikti.jpg"
    />
    
  </div>
</BaseLayout>
<style>
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 152, 141);
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px;
  }

  .intro button {
    background-color: #ffffff;
    color: #10988d;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  .intro button:hover {
    background-color: #10988d;
    color: #ffffff;
  }
</style>